@page
@model EmailModel
@{
    ViewData["Title"] = "Zarządzaj swoim adresem email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3 class="text-light">@ViewData["Title"]</h3>
<h4 class="text-light">Strona nieaktywna, przepraszamy za utrudnienia.</h4>
