@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}
<h3 class="text-light">@ViewData["Title"]</h3>
<h4 class="text-light">Strona nieaktywna, przepraszamy za utrudnienia.</h4>
