@{
    ViewData["Title"] = "Nasza oferta";
}

<!--<h1>@ViewData["Title"]</h1>-->
<section class="jumbotron text-center">
    <h2><strong>Nasza oferta</strong></h2>
    <h5><strong>Zapraszamy do zapoznania się z naszą ofertą jesienno-zimową!</strong></h5>
    <p><strong>W tegorocznej ofercie jesienno-zimowej 2022 prezentujemy dla Państwa następujące wyroby piwa domowej roboty:</strong></p>
</section>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_1"/>
              <div class="card-body">
                <p class="card-text">opis-piwa#1</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_2"/>
              <div class="card-body">
                <p class="card-text">opis-piwa#2</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_3"/>
              <div class="card-body">
                <p class="card-text">opis-piwa#3</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_4"/>
              <div class="card-body">
                <p class="card-text">opis-piwa#4</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>