@model WebApplication1.Models.Customers

@{
    ViewData["Title"] = "Edycja";
}

<!--<h1>Edit</h1>-->

<body>
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 back-color">
      <div class="container back-color">

        <h4>Edycja zamówienia</h4>
        <hr />

        <div class="row">
          <div class="col-md-4">
            <form asp-action="Edit">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="CustomerId" />
              <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Edytuj imię:</label>
                <input asp-for="CustomerName" class="form-control" id="CustomerName" size="20" minlength="2" placeholder="Imię" autofocus/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="CustomerSurname" class="control-label">Edytuj nazwisko:</label>
                <input asp-for="CustomerSurname" class="form-control" id="CustomerSurname" size="30" minlength="2" placeholder="Nazwisko"/>
                <span asp-validation-for="CustomerSurname" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label">Edytuj adres e-mail:</label>
                <input asp-for="CustomerEmail" class="form-control" type="email" id="CustomerEmail" size="100" placeholder="jan.kowalski@domena.pl"/>
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="CustomerPhoneNr" class="control-label">Edytuj numer telefonu:</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">+48</span>
                  <input asp-for="CustomerPhoneNr" class="form-control" type="tel" id="CustomerPhoneNr" size="9" pattern="\d{9}" placeholder="601102203"/>
                </div>
                <span asp-validation-for="CustomerPhoneNr" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="CustomerService" class="control-label">Edytuj zestaw:</label>
                <select asp-for="CustomerService" class="form-control">
                  <option value="" selected="" disabled="disabled">Wybierz zestaw!</option>
                    <option>Grodziskie</option>
                    <option>Czeski_pilzner</option>
                    <option>Schwarzbier</option>
                    <option>Summer_Ale</option>
                    <option>Koźlak_Tradycyjny</option>
                    <option>Imperialny_Porter_Bałtycki</option>
                </select>
                <span asp-validation-for="CustomerService" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="CustomerStatus" class="control-label">Zmień status:</label>
                <select asp-for="CustomerStatus" class="form-control">
                  <option value="" selected="" disabled="disabled">Wybierz status:</option>
                  <option>Niezaakceptowany</option>
                  <option>Zaakceptowany</option>
                </select>
                <span asp-validation-for="CustomerService" class="text-danger"></span>
              </div>
              <p>Wypełniając ten formularz, zgadzasz się na nasz <a asp-area="" asp-controller="Home" asp-action="Regulations">Regulamin</a>.</p>
              <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>

        <div>
          <a asp-action="Index">Wróć do listy zamówień</a>
        </div>

      </div>
    </div>
  </main>
</body>

<head> 
    <link rel="stylesheet" href="~/css/customer.css" asp-append-version="true"/>
</head>
<body>
  <footer class="mastfoot mt-auto"></footer>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
