html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #282D3C;*/
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6eca5f7e-9a2a-4737-bd2c-0aa408fcff5a/df7d5h1-abc354e3-f2a5-4412-85c7-4b786467afad.jpg/v1/fill/w_1024,h_1366,q_75,strp/img_20220615_131015_by_jackieherondale_df7d5h1-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTM2NiIsInBhdGgiOiJcL2ZcLzZlY2E1ZjdlLTlhMmEtNDczNy1iZDJjLTBhYTQwOGZjZmY1YVwvZGY3ZDVoMS1hYmMzNTRlMy1mMmE1LTQ0MTItODVjNy00Yjc4NjQ2N2FmYWQuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.lwW0oukUTaMtrO7Y0WGgvOF3R7omLp502767-jvNZsU");
    background-repeat: repeat;
    /*background-size: 2600px 910px;*/
    background-size: auto;
}

footer {
    position: fixed;
    text-align: center;
}

.regulations-text {
    text-align: justify;
}

.regulations-div {
    padding: 20px;
}

.regulations-div2 {
    margin: 0px;
}

