@{
    ViewData["Title"] = "O nas";
}

<!--<h1>@ViewData["Title"]</h1>-->

<section class="jumbotron text-center back-color">
    <h2><strong>O nas</strong></h2>
    <h4><strong>Zapraszamy do zapoznania się ze stroną o nas!</strong></h4>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 back-color">
      <div class="container back-color">

          <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p>Jesteśmy prywatną jednostką zajmującą się wyrobem piwa. Na rynku działamy od kilku miesięcy, zaś wyrobem piwa zajmujemy się od kilku lat. Wszystkie piwa, jakie mamy w ofercie, przygotowane zostały w domowym zaciszu, z użyciem odpowiednich i specjalistycznych narzędzi i destylatorów.</p>
                <p>Zdajemy sobie sprawę, że na rynku brakuje domowych wyprodukowanych piw, stąd wpadł nam do głowy pomysł, aby zająć się tym bardziej na poważnie. Do produkcji każdego piwa podchodzimy z czułością, jak do małego dziecka.</p>
                <p>W ofercie naszego sklepu znajdą Państwo specjalnie przygotowaną ofertę sezonową piw, którą będziemy dla Państwa przygotowywać. Zależy nam na smaku i najwyższej jakości piwa, jak i również na zadowoleniu naszych klientów, stąd odpowiednio wcześniej zbieramy Państwa zamówienia, aby dla nikogo nie zabrakło :)</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>
