@{
    ViewData["Title"] = "Autorzy";
}

<!--<h1>@ViewData["Title"]</h1>-->

<section class="jumbotron text-center back-color">
    <h2><strong>Autorzy</strong></h2>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 back-color">
      <div class="container back-color">

          <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p>Powyższa strona jest projektem zaliczeniowym na zajęcia z <strong>Programowania zaawansowanego, na uczelni WSB</strong>.</p>
                <p>Autorką tego projektu jest <strong>Delfina Siepak</strong>.</p>
                <p>Treść oraz zdjęcia należą do <strong>Delfiny Siepak</strong>, proszę ich nie udostępniać, jak również proszę nie podawać wrażliwych danych.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>
