@{
    ViewData["Title"] = "Zapowiedź";
}

<!--<h1>@ViewData["Title"]</h1>-->
<section class="jumbotron text-center back-color">
    <h2><strong>Zapowiedź</strong></h2>
    <h5><strong>Już wkrótce zaprezentujemy Państwu nową ofertę!</strong></h5>
</section>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 back-color">
      <div class="container back-color">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6eca5f7e-9a2a-4737-bd2c-0aa408fcff5a/df7gbf7-8de0cac5-d93e-44fc-b4a2-7df0a5f32ea9.jpg/v1/fill/w_1024,h_1519,q_75,strp/test_site_image__9_white_by_jackieherondale_df7gbf7-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUxOSIsInBhdGgiOiJcL2ZcLzZlY2E1ZjdlLTlhMmEtNDczNy1iZDJjLTBhYTQwOGZjZmY1YVwvZGY3Z2JmNy04ZGUwY2FjNS1kOTNlLTQ0ZmMtYjRhMi03ZGYwYTVmMzJlYTkuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.xO_cxS4tTac7CEYGZahHbdYfNq41km2B58PS24nmRuU" alt="Zestaw_1"/>
              <div class="card-body">
                <p class="card-text"><strong>Piwo Niespodzianka!</strong></p>
                <p class="card-text">Opis już wkrótce...</p>
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>