@{
    ViewData["Title"] = "Zapowiedź";
}

<!--<h1>@ViewData["Title"]</h1>-->
<section class="jumbotron text-center back-color">
    <h2><strong>Zapowiedź</strong></h2>
    <h5><strong>Już wkrótce zaprezentujemy Państwu nową ofertę!</strong></h5>
</section>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 back-color">
      <div class="container back-color">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_1"/>
              <div class="card-body">
                <p class="card-text"><strong>Piwo Niespodzianka!</strong></p>
                <p class="card-text">Opis już wkrótce...</p>
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>