@{
    ViewData["Title"] = "Strona główna";
}

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto"></header>
    <main role="main">
      <h1>Domowy Browar</h1>
      <p class="lead">Strona główna in progress...</p>
      <h1 class="lead"><strong>Zapraszamy do przejrzenia naszej <a asp-area="" asp-controller="Offer" asp-action="Offer">oferty</a> jesienno-zimowej.</strong></h1>
      <h1 class="lead"><strong>Na Państwa zamówienia czekamy do końca lipca!</strong></h1>
    </main>
    <footer class="mastfoot mt-auto"></footer>
  </div>
</body>
