@{
    ViewData["Title"] = "Nasza oferta";
}

<!--<h1>@ViewData["Title"]</h1>-->
<section class="jumbotron text-center back-color">
    <h2><strong>Nasza oferta</strong></h2>
    <h5><strong>Zapraszamy do zapoznania się z naszą ofertą jesienno-zimową!</strong></h5>
    <h6><strong>Przedstawione niżej oferty reprezentują zestaw piw, składający się z zestawu zawierającego 6 sztuk piwa. Każdy taki zestaw kosztuje 50 zł. Istnieje możliwość zakupu dodatkowych sztuk piwa na miejscu, wtedy taka jedna sztuka piwa kosztuje 10 zł.</strong></h6>
    <p><strong>W tegorocznej ofercie jesienno-zimowej 2022 prezentujemy dla Państwa następujące wyroby piwa domowej roboty:</strong></p>
</section>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 back-color">
      <div class="container back-color">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_1"/>
              <div class="card-body">
                <p class="card-text"><strong>Piwo Grodziskie</strong></p>
                <p class="card-text">Piwo posiada unikalny styl, który wykształcił się w Grodzisku Wielkopolskim, wywodzący się bezpośrednio ze średniowiecznej tradycji warzenia piw pszenicznych w Polsce. Grodziskie było słynne w kraju jeszcze przed epoką industrializacji, a w XIX w. i na początku XX w. jego sława i popularność zaczęła szybko rozszerzać się także za granicą. Jest to jasne, lekkie piwo pszeniczne wyprodukowane z udziałem słodu dymionego.</p>
                <p class="card-text"><strong>Parametry</strong></p>
                    <ul>Ekstrakt początkowy: 7,0-8,0° Blg.</ul>
                    <ul>Ekstrakt końcowy: 2,5-3,0° Blg.</ul>
                    <ul>Zawartość alkoholu: 2,5-3,3% obj.</ul>
                    <ul>Goryczka: 20-30 IBU</ul>
                    <ul>Barwa: 6-12 EBC</ul>
                <p class="card-text"><strong>Surowce i technologia</strong></p>
                <p class="card-text">Najwłaściwsze byłoby zastosowanie 100% słodu pszenicznego delikatnie wędzonego dymem drewna dębowego, ale też dobre rezultaty daje kompozycja słodów wędzonych bukiem, pszenicznego i pilzneńskiego. Zawsze trzeba tak postępować w doborze słodu, aby otrzymać piwo o wyraźnym charakterze pszenicznym i delikatnym wędzonym. Polskie, czeskie lub niemieckie odmiany chmielu takie jak Lubelski, Żatecki, Hallertauer, Mittelfrüh albo Tettnanger. Drożdże górnej fermentacji o w miarę czystym profilu, nie produkujące dużej ilości estrów i fenoli. Zacieranie infuzyjne z kilkoma przerwami. Klarowane karukiem i kondycjonowane w butelkach z dodatkiem drożdży.</p>
                <p class="card-text"><strong>Aromat</strong></p>
                <p class="card-text">Niski do umiarkowanego aromat pochodzący od dymu, może być bardzo subtelny. Nuty chmielowe, zazwyczaj obecne, w swojej intensywności powinny być najwyżej równe lub mniejsze od nut dymnych. Bywa wyczuwalna nuta zbożowa, pszeniczna. Opcjonalnie mogą być wyczuwalne delikatne nuty owocowe, takie jak dojrzałego czerwonego jabłka czy gruszki, nie mogą być jednak intensywne. Nuty bananowe i goździkowe, typowe dla bawarskich piw pszenicznych są niepożądane. Diacetyl jest wadą.</p>
                <p class="card-text"><strong>Barwa</strong></p>
                <p class="card-text">Od jasnożółtej do złotej, powinno być bardzo klarowne. Mętność jest wadą.</p>
                <p class="card-text"><strong>Piana</strong></p>
                <p class="card-text">Obfita, biała, bardzo trwała.</p>
                <p class="card-text"><strong>Smak</strong></p>
                <p class="card-text">Średnio - niskiej do średniej intensywności smak wędzony, który pozostaje do finiszu. Charakter wędzony może być wyraźniejszy w smaku niż w aromacie, ma łagodny charakter, nie powinien być gryzący. Delikatny, ziarnisty smak pszenicy w tle. Niski, ale wyczuwalny, pikantny smak szlachetnego chmielu. Ogólny balans przesunięty w kierunku goryczy. Finisz wytrawny, ale nie powinien być cierpki. Lekkie estry owocowe (czerwone jabłko lub gruszka) mogą być obecne.</p>
                <p class="card-text"><strong>Goryczka</strong></p>
                <p class="card-text">Umiarkowana do dużej, pochodząca od chmielu.</p>
                <p class="card-text"><strong>Odczucie w ustach</strong></p>
                <p class="card-text">Bardzo lekkie i odświeżające. Nagazowanie wysokie, wyraźnie odczuwalne na języku.</p>
                <p class="card-text"><strong>Wrażenie ogólne</strong></p>
                <p class="card-text">Lekkie, bardzo pijalne piwo pszeniczne o wędzonym charakterze. Jasne i klarowne.</p>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_2"/>
              <div class="card-body">
                <p class="card-text"><strong>Czeski pilzner</strong></p>
                <p class="card-text">Prekursorem stylu było piwo uwarzone w Pilźnie w 1842 roku. Na jego powstanie złożyło się kilka czynników: doświadczenie piwowara Josefa Grolla w użyciu drożdży dolnej fermentacji, zdobyte w browarze jego ojca w Niemczech oraz u Anthona Drehera w Wiedniu, połączone z użyciem czeskiego chmielu odmiany żatecki (saaz) i jasnego słodu suszonego w niskiej temperaturze, zwanego pilzneńskim. Swoją rolę odegrał także skład chemiczny bardzo miękkiej, tamtejszej wody. Bardzo popularne piwo, nie tylko w Czechach, gdzie jest warzone przez duże i małe browary. Czesi często nazywają piwo, od wysokości ekstraktu jedenastka, dwunastka i trzynastka.</p>
                <p class="card-text"><strong>Parametry</strong></p>
                    <ul>Ekstrakt początkowy 11-13,5º Blg.</ul>
                    <ul>Ekstrakt końcowy 2-4º Blg.</ul>
                    <ul>Zawartość alkoholu: 4,4-5,5% obj.</ul>
                    <ul>Goryczka: 30-45 IBU</ul>
                    <ul>Barwa: 6-14 EBC</ul>
                <p class="card-text"><strong>Surowce i technologia</strong></p>
                <p class="card-text">Słód pilzneński, czasem z niewielkim dodatkiem jasnego słodu karmelowego, czeska odmiana chmielu żatec (saaz). Tradycyjnie stosuje się zacieranie dekokcyjne (oryginalnie trójwarowe), czeskie szczepy drożdży dolnej fermentacji, piwo jest lagerowane w niskich temperaturach.</p>
                <p class="card-text"><strong>Aromat</strong></p>
                <p class="card-text">Na pierwszym planie aromat czeskiego chmielu (korzenno-ziołowy), potem aromaty słodowe, herbatnikowe, słodkie, czasem karmelowe. Czysty lagerowy charakter, brak estrów i DMS, dopuszczalny niewielki dwuacetyl.</p>
                <p class="card-text"><strong>Barwa</strong></p>
                <p class="card-text">Kolor od słomkowego przez jasnozłocisty do złotego, klarowność bardzo dobra.</p>
                <p class="card-text"><strong>Piana</strong></p>
                <p class="card-text">Obfita, kremowa, drobno pęcherzykowa, trwała, koloru białego, pozostawia kręgi na szkle.</p>
                <p class="card-text"><strong>Smak</strong></p>
                <p class="card-text">Na początku, w różnym natężeniu, wyczuwalna słodycz słodowa, czasem karmelowa, potem charakterystyczny, często mocny smak chmielu, wszystko to zakończone dobrze zaznaczoną goryczką. Na drugim planie możliwy (nie konieczny) niski dwuacetyl, czasem kwaskowate, rześkie, finisz półwytrawny.</p>
                <p class="card-text"><strong>Goryczka</strong></p>
                <p class="card-text">Goryczka od średniej, do mocnej, często zalega po przełknięciu.</p>
                <p class="card-text"><strong>Odczucie w ustach</strong></p>
                <p class="card-text">Najczęściej dobrze zbalansowane, bardzo pijalne, średnio wysycone - większość gazu traci podczas nalewania do kufla z dużej odległości, gładkie, średnio wytrawne, wytrawne.</p>
                <p class="card-text"><strong>Wrażenie ogólne</strong></p>
                <p class="card-text">Rześkie, orzeźwiające piwo, którego znaczącą cechą jest goryczka i smak pochodzący ze szlachetnego czeskiego chmielu, wyższe stężenie dwuacetylu.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_3"/>
              <div class="card-body">
                <p class="card-text"><strong>Schwarzbier</strong></p>
                <p class="card-text">Czasami określany jako Schwarzpils, wywodzi się z południowo-wschodnich Niemiec (Frankonia, Turyngia) i jest jednym z najstarszych udokumentowanych stylów piwnych - pierwsze wzmianki na jego temat pochodzą aż z 14 wieku. Zazwyczaj jest to łagodne, sesyjne, ciemne piwo dolnej fermentacji, które z powodzeniem może być stosowane jako alternatywa wobec jasnego lagera. Nowofalowe egzemplarze charakteryzują się zazwyczaj wyraźniejszą goryczką i mocniej zaakcentowaną palonością.</p>
                <p class="card-text"><strong>Parametry</strong></p>
                    <ul>Ekstrakt początkowy : 11 - 12,5º Blg.</ul>
                    <ul>Ekstrakt końcowy : 3 - 4º Blg.</ul>
                    <ul>Zawartość alkoholu : 4,5% - 5% obj.</ul>
                    <ul>Goryczka : 20 - 35 IBU</ul>
                    <ul>Barwa : 40 - 60 EBC</ul>
                <p class="card-text"><strong>Surowce i technologia</strong></p>
                <p class="card-text">Podstawą receptury jest słód pilzneński z dodatkiem słodu monachijskiego i niewielkich ilości słodów karmelowych. Charakterystyczną barwę uzyskuje się dzięki słodom palonym, których ilość i rodzaj ma na celu ograniczenie do minimum powstawanie aromatów i smaków palonych w gotowym piwie. Do chmielenia tradycyjnie stosuje się szlachetne, niemieckie odmiany chmielu.</p>
                <p class="card-text"><strong>Aromat</strong></p>
                <p class="card-text">Dominuje wyraźna słodowość połączona z lekkimi nutami karmelowymi oraz palonymi (ale nigdy spalenizny). Brak lub niewielki aromat chmielowy. Czysty lagerowy profil, obecność estrów oraz diacetylu niepożądana. Opcjonalnie może pojawić się niewielki siarkowodór.</p>
                <p class="card-text"><strong>Barwa</strong></p>
                <p class="card-text">Od ciemno brązowej do czarnej (pomimo swojej nazwy piwo rzadko kiedy jest zupełnie czarne), klarowne.</p>
                <p class="card-text"><strong>Piana</strong></p>
                <p class="card-text">Wysoka, gęsta, trwała, kolor od kremowego do beżowego.</p>
                <p class="card-text"><strong>Smak</strong></p>
                <p class="card-text">Słodowość od umiarkowana do wyraźnej w tle lekkie do średnich posmaki karmelowe oraz palone, które mogą dawać wrażenie gorzkiej czekolady. Smak chmielowy niski do średniego. Finisz średnio wytrawny do wytrawnego.</p>
                <p class="card-text"><strong>Goryczka</strong></p>
                <p class="card-text">Niska do średniej, krótka, pochodzi zazwyczaj od szlachetnych gatunków niemieckich chmieli, może być uzupełniona lekką palnością.</p>
                <p class="card-text"><strong>Odczucie w ustach</strong></p>
                <p class="card-text">Pełnia smaku od niskiej do średniej, nasycenie umiarkowane. Delikatne i łagodnie pomimo użycia palonych słodów.</p>
                <p class="card-text"><strong>Wrażenie ogólne</strong></p>
                <p class="card-text">Ciemny niemiecki lager z zaznaczoną delikatnie palonością.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_4"/>
              <div class="card-body">
                <p class="card-text"><strong>Summer Ale</strong></p>
                <p class="card-text">Lekkie, orzeźwiające piwo górnej fermentacji o jasnym kolorze. Połączenie lekkiej słodowości ze zdecydowaną, krótką goryczką oraz aromatem chmielu. Początkowo Summer Ale było sezonowym piwem letnim, jednak obecnie warzy się je przez cały rok. Ze swoim jasnym, podobnym do lagerów kolorem oraz mocnym chmieleniem styl może stanowić alternatywę dla lagerów na sezon letni.</p>
                <p class="card-text"><strong>Parametry</strong></p>
                    <ul>Ekstrakt początkowy: 9,0-12,5º Blg.</ul>
                    <ul>Ekstrakt końcowy: 1.5-3,0º Blg.</ul>
                    <ul>Zawartość alkoholu: 3.5-5% obj.</ul>
                    <ul>Goryczka: 15-30 IBU</ul>
                    <ul>Barwa: 4-14 EBC</ul>
                <p class="card-text"><strong>Surowce i technologia</strong></p>
                <p class="card-text">Bazę piwa stanowią słody jasne – pilzneński i amerykański dwurzędowy pale ale. Może zawierać niewielkie ilości słodu pszenicznego i nieco cukrowych dodatków niesłodowanych dodających delikatnej wytrawności. Dopuszczalne małe dodatki słodów karmelowych i specjalnych. Mogą być użyte wszystkie odmiany chmieli, zarówno nowofalowe jak i klasyczne. Do piwa używamy czystych drożdży amerykańskich i delikatnie owocowych drożdży angielskich.</p>
                <p class="card-text"><strong>Aromat</strong></p>
                <p class="card-text">Aromat chmielowy (od średnio lekkiego do mocnego) może odzwierciedlać prawie wszystkie, nowofalowe jak i klasyczne, odmiany chmieli. Aromat słodki, słodowy, a także chlebowy i ciasteczkowy na poziomie od niskiego do umiarkowanego. Brak aromatów karmelowych i dwuacetylu, mogą natomiast występować delikatne nuty owocowe (estrowe) pochodzące od drożdży.</p>
                <p class="card-text"><strong>Barwa</strong></p>
                <p class="card-text">Od słomkowej i jasno żółtej do głęboko złotej. Piwo generalnie klarowne, ale dopuszczalna jest lekka opalizacja spowodowana chmieleniem na zimno.</p>
                <p class="card-text"><strong>Piana</strong></p>
                <p class="card-text">Biała, obfita, średnio zwarta, średnio wysoka i trwała.</p>
                <p class="card-text"><strong>Smak</strong></p>
                <p class="card-text">Początkowo delikatna słodkość, ale także lekki, nieprzytłaczający charakter słodowy – chlebowy, tostowy, ciasteczkowy, pszenny. Smaki karmelowe nieobecne. Estry owocowe od niskich do średnio niskich. Smaki chmielowe od lekkich do średnich (wszystkie odmiany), ale nie powinny być agresywne. Finisz od średnio wytrawnego do trochę słodkiego. Brak dwuacetylu.</p>
                <p class="card-text"><strong>Goryczka</strong></p>
                <p class="card-text">Od lekkiej do średniowysokiej. Czysto chmielowa, bez akcentów taninowych czy alkoholowych. Z balansem przesuniętym w stronę słodowości.</p>
                <p class="card-text"><strong>Odczucie w ustach</strong></p>
                <p class="card-text">Treściwość niska do średnio niskiej. Piwo powinno być delikatnie wytrawne i rześkie. Powinno pozostawiać uczucie orzeźwienia oraz być mocno pijalne. Odczucia ściągania i zalegania są wadą.</p>
                <p class="card-text"><strong>Wrażenie ogólne</strong></p>
                <p class="card-text">Dobrze pijalne, przystępne, delikatnie słodowo-chmielowe piwo. Przypomina Golden Ale lecz bliżej mu do delikatniejszej wersji American Pale Ale, od której odróżnia go z reguły wyższa słodkość, natomiast balans słodowo-chmielowy przesunięty jest bardziej w stronę słodowości. Bardzo wysoka pijalność jest kluczową cechą stylu.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_4"/>
              <div class="card-body">
                <p class="card-text"><strong>Koźlak Tradycyjny</strong></p>
                <p class="card-text">Koźlak (niem. Bock) znany jest od XVI w. Swój rodowód wywodzi z dolnosaksońskiego miasta Einbeck, od którego skróconej i zniekształconej wymowy (Beck -> Bock) wzięła się nazwa stylu. Protoplastą koźlaka było warzone od XIII w. mocne piwo Starkbier. Eksportowane do wielu państw było wówczas piwem górnej fermentacji. Rozsmakowali się w nim również książęta bawarscy, którzy w XVI w. zaczęli warzyć je u siebie. Sukcesywnie odchodzono od fermentacji górnej, ze względu na duże doświadczenie piwowarów bawarskich w warzeniu piw dolnej fermentacji, która jest dziś standardem. (Koźlaki górnej fermentacji warzone są współcześnie głównie w Holandii). Do stylu nawiązują również inne: koźlak pszeniczny (Weizenbock), podwójny/dubeltowy (Doppelbock), lodowy (Eisbock), wędzony (Rauchbock) czy wreszcie majowy (Maibock) – jednakże ze względu na różnice surowcowe, technologiczne i sensoryczne należy wyraźnie oddzielić je od tradycyjnego wariantu koźlaka.</p>
                <p class="card-text"><strong>Parametry</strong></p>
                    <ul>Ekstrakt początkowy: 16-18º Blg.</ul>
                    <ul>Ekstrakt końcowy: 4-6º Blg.</ul>
                    <ul>Zawartość alkoholu: 6,0-7,5% obj.</ul>
                    <ul>Goryczka: 20-30 IBU</ul>
                    <ul>Barwa: 25-45 EBC</ul>
                <p class="card-text"><strong>Surowce i technologia</strong></p>
                <p class="card-text">Słody stosowane przy warzeniu tego stylu to głównie monachijski, wiedeński i pilzneński. Słody specjalne/karmelowe mogą być dodawane jedynie w niewielkiej ilości – inaczej pojawią się zbyt silne smaki karmelowe, przypalane, które nie są wskazane. Charakterystyczne dla koźlaka aromaty melanoidynowe powstają w wyniku dekokcyjnego zacierania oraz przedłużonego gotowania brzeczki, do ich uzyskania można użyć ewentualnie niewielkiej ilości słodu parzonego (melanoidynowego). Stosowane są drożdże dolnej fermentacji. Zalecane długie leżakowanie w niskich temperaturach.</p>
                <p class="card-text"><strong>Aromat</strong></p>
                <p class="card-text">Zapach jest czysty – bazą są aromaty słodowe szczególnie melanoidynowe, kojarzące się z aromatem świeżego, ciemnego pieczywa (jednakże bez charakterystycznej dla niego kwaśności) lub podpiekanych tostów, miodowe i ciastkowe. Możliwy jest również delikatny akcent suszonych owoców: śliwek i rodzynek, który jednak nie powinien dominować. Brak estrów lub ciężkich, słodkich nut owocowych i karmelowych. Aromat chmielowy nieobecny lub na bardzo niskim poziomie. W mocniejszych wersjach mogą pojawiać się subtelne aromaty alkoholowe.</p>
                <p class="card-text"><strong>Barwa</strong></p>
                <p class="card-text">Piwo powinno być ciemne i klarowne. Paleta barw rozciąga się od ciemnobursztynowej do brązowej, często występują także rubinowe bądź bordowe refleksy.</p>
                <p class="card-text"><strong>Piana</strong></p>
                <p class="card-text">Średniej wysokości, drobnopęcherzykowa, jasna, delikatnie zabarwiona od piwa na kolor beżowy, trwała.</p>
                <p class="card-text"><strong>Smak</strong></p>
                <p class="card-text">Wyraźne, głębokie smaki słodowe, dobrze zbalansowane goryczką. Często wyczuwany jest smak przypieczonej skórki od chleba, tostów lub nuta orzechowa. Karmel może być odczuwany w smaku jedynie na niskim bądź umiarkowanym poziomie. Finisz może być dłuższy, nawet lekko goryczkowy. Niepożądane są posmaki zbyt słodkie, mdłe, brzeczkowe.</p>
                <p class="card-text"><strong>Goryczka</strong></p>
                <p class="card-text">Niska do średniej, dobrze współgrająca z innymi smakami, szczególnie ciemnosłodową podstawą piwa. Może przy tym dawać wrażenie nakładania się, potęgowania w kolejnych łykach oraz potęgowania na finiszu. Nie powinna wysuwać się na pierwszy plan i dominować w balansie. Nie powinna być również ostra, paląca lub pikantna.</p>
                <p class="card-text"><strong>Odczucie w ustach</strong></p>
                <p class="card-text">Koźlak charakteryzuje się średnim bądź niskim wysyceniem. Piwo powinno być umiarkowanie krągłe – średnia lub wyższa pełnia, dobrze odfermentowane (ale bez zbytniej wytrawności), treściwe, łagodne. Może dawać efekt rozgrzewania, powinno być jednak delikatne, a nie intensywne. Oblepianie, bądź ostre i cierpkie posmaki są cechami niepożądanymi.</p>
                <p class="card-text"><strong>Wrażenie ogólne</strong></p>
                <p class="card-text">Mocny, ciemny, bogaty lager o kompleksowym, ale łagodnym, słodowym charakterze bez dominujących nut karmelowych. Może sprawiać wrażenie piwa krzepkiego, jednak nigdy zbyt ciężkiego czy alkoholowego.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/383/419/648/glass-beer-foam-wallpaper-preview.jpg" alt="Zestaw_4"/>
              <div class="card-body">
                <p class="card-text"><strong>Imperialny Porter Bałtycki</strong></p>
                <p class="card-text">Powstał jako rozwinięcie klasycznego stylu porteru bałtyckiego. Nazwą nawiązuje do starej angielskiej terminologii, wg której miano imperialnych otrzymywały najmocniejsze piwa. Porter imperialny jest zatem mocniejszy i bardziej ekstraktywny od swojego protoplasty. Wyższy ekstrakt, a co za tym idzie wyższa zawartość słodów w zasypie, skutkuje jeszcze bogatszą paletą smaków i aromatów, niż w porterze. Piwo mocne, bardzo treściwe, esencjonalne i pełne nut pochodzących od leżakowania, którego ten lager niewątpliwie wymaga. Trudności technologiczne produkcji imperialnego porteru powodują, że warzą go nieliczne browary, co skutkuje niewielką ilością przykładów komercyjnych.</p>
                <p class="card-text"><strong>Parametry</strong></p>
                    <ul>Ekstrakt początkowy: 22º Blg.</ul>
                    <ul>Zawartość alkoholu: od 9,5% obj.</ul>
                    <ul>Goryczka: 35-90 IBU</ul>
                    <ul>Barwa: 35-70 EBC</ul>
                <p class="card-text"><strong>Surowce i technologia</strong></p>
                <p class="card-text">Do imperialnej wersji używa się analogicznych surowców, co w przypadku porteru bałtyckiego. Podstawowe słody to najczęściej monachijski lub wiedeński. Stosuje się słody karmelowe, brązowe i/lub czekoladowe oraz słód palony. Może zawierać dodatki niesłodowane. Chmiele tradycyjne. Drożdże dolnej fermentacji.</p>
                <p class="card-text"><strong>Aromat</strong></p>
                <p class="card-text">Bardzo bogate, głębokie aromaty słodowe: słodkie, karmelowe, palonego cukru i herbatników. Liczne nuty ciemnych słodów: pieczywa razowego, przypieczonej skórki chleba, palonego karmelu, ciemnego ciasta słodowego, orzechów. Głębokie aromaty dojrzałych oraz suszonych czerwonych owoców wiśni, śliwek oraz rodzynek. Aromaty charakterystyczne dla wzmacnianych (likierowych) win, takich jak porto, sherry czy madera, podkreślone wyczuwalnym alkoholem. Mogą występować nuty gorzkiej czekolady, kawy, lukrecji pochodzące od palonego słodu, ale nie powinny być tak intensywne jak w imperialnym stoucie.</p>
                <p class="card-text"><strong>Barwa</strong></p>
                <p class="card-text">Ciemnobrązowa, brunatna, niemal czarna do czarnej. Częste brązowe lub bordowe, rubinowo-czerwone refleksy. Klarowne.</p>
                <p class="card-text"><strong>Piana</strong></p>
                <p class="card-text">Gęsta, drobna, niska do średniej, zazwyczaj krótkotrwała. Od jasnobeżowej do brązowej.</p>
                <p class="card-text"><strong>Smak</strong></p>
                <p class="card-text">Smak porteru tworzy kombinacja bogatych akcentów słodowych, aromatów suszonych owoców, nut palonych oraz alkoholu. Lagerowy, czysty profil. Głębokie smaki słodowe przy wysokiej pełni dają wrażenie słodyczy. Bardzo bogate smaki karmelu, także palonego, ciasta słodowego, ciemnego pieczywa, skórki chleba, orzechów. Podobnie jak w aromacie, wyraźne nuty przypominające smak dojrzałych i suszonych ciemnych owoców, wiśni, śliwek, porzeczki, rodzynek, win wzmacnianych (likierowych). Wyraźne smaki pochodzące od palonych słodów, gorzkiej czekolady, kawy, lukrecji, przechodzące w średnio długi, choć niewysoki posmak palony na finiszu. Paloność nie powinna mieć jednak charakteru spalenizny lub popiołu i nie powinna dominować. Finisz może być od półsłodkiego do niemal wytrawnego. Smak alkoholu może być wyraźny, jednak nie powinien dominować piwa, ale dawać wrażenie podobne do wyleżakowanych destylatów. Smak chmielu z reguły nie występuje, ale lekkie nuty chmieli szlachetnych są dopuszczalne.</p>
                <p class="card-text"><strong>Goryczka</strong></p>
                <p class="card-text">Pochodząca głównie od słodów palonych, niska do średnio wysokiej, ale nie powinna być bardzo wysoka i cierpka. Goryczka chmielowa od bardzo niskiej do średniej. Może być wyczuwalna gorycz alkoholowa.</p>
                <p class="card-text"><strong>Odczucie w ustach</strong></p>
                <p class="card-text">Bardzo pełne, gęste, oleiste, treściwe, lecz nie zaklejająco słodkie. Dość gładkie i krągłe, często wręcz kremowe; odczucie szorstkie lub ściągające jest niepożądane. Wyraźne rozgrzewanie alkoholowe nie powinno dominować piwa, ani mieć charakteru rozpuszczalnikowego, lecz elegancki charakter leżakowanego destylatu. Wysycenie CO2 na poziomie od niskiego do średniego.</p>
                <p class="card-text"><strong>Wrażenie ogólne</strong></p>
                <p class="card-text">Mocne, gęste, treściwe ciemne piwo o bardzo złożonym kompleksie smakowo-zapachowym. Szerokie spektrum aromatów słodowych oraz nut wynikających z leżakowania łączy się z akcentami palonymi i alkoholowymi. Od imperialnego stoutu różni się niższym poziomem smaków pochodzących od słodów palonych, zazwyczaj z pełniejszą paletą smaków słodowych przy czystszym, lagerowym profilu. Piwo zdecydowanie degustacyjne, predestynowane do niespiesznej kontemplacji, rozgrzewające.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>