@{
    ViewData["Title"] = "Polityka prywatności";
}
<!--<h1>@ViewData["Title"]</h1>-->

<section class="jumbotron text-center">
    <h2><strong>Polityka prywatności</strong></h2>
    <h5><strong>Zapewniamy naszym Klientom pełne poszanowanie ich prywatności oraz ochronę ich danych osobowych.</strong></h5>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p class="regulations-text">Dane osobowe przekazywane nam przez Klientów przetwarzamy w sposób zgodny z zakresem udzielonego przez Klientów zezwolenia oraz wymogami prawa, w szczególności zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. Nr 133, poz. 883 z późn. zm.). Dane osobowe Klientów przechowujemy na serwerach zapewniających ich pełne bezpieczeństwo. Dostęp do bazy danych posiadają jedynie uprawnieni pracownicy Sklepu.</p>
                <p class="regulations-text">Sklep nie przekazuje, nie sprzedaje ani nie użycza zgromadzonych danych osobowych Klientów osobom trzecim, chyba, że dzieje się to za wyraźną zgodą lub na życzenie Klienta albo na żądanie uprawnionych na podstawie prawa organów państwa w związku z toczącymi się postępowaniami.</p>
                <p class="regulations-text">Pragniemy zwrócić Państwa uwagę, że jeżeli na stronie internetowej naszego Sklepu zamieszczamy linki prowadzące do innych, nieadministrowanych przez nas stron internetowych, to nie możemy odpowiadać ani za zawartość tychże stron, ani za stopień ochrony prywatności realizowany przez administratorów tych stron. Podejmując decyzję o przejściu na takie strony, Klient czyni to na własną odpowiedzialność. Zachęcamy przy okazji do zapoznania się z polityką prywatności realizowaną przez te strony, zanim Klient udostępni im swoje dane osobowe.</p>
                <p class="regulations-text">Wszelkie pytania, wnioski i sugestie odnoszące się do ochrony Państwa prywatności, w szczególności danych osobowych prosimy zgłaszać na adres mailowy znajdujący się w zakładce Kontakt.</p>
                <p class="regulations-text">1. Administratorem danych jest [FIRMA] [NIP], prowadzącego sklep internetowy DomowyBrowar.pl. Ochrona danych odbywa się zgodnie z wymogami powszechnie obowiązujących przepisów prawa, a ich przechowywanie ma miejsce na zabezpieczonych serwerach. Użytkownik ma możliwość skontaktowania się z administratorem poprzez dane widniejące w zakładce Kontakt oraz [ADRES EMAIL] lub [NUMER TELEFONU].</p>
                <p class="regulations-text">2. Dane osobowe Użytkowników są przetwarzane przez Administratora zgodnie z przepisami dotyczącymi ochrony danych osobowych, w tym w szczególności Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 roku w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE („RODO”).</p>
                <p class="regulations-text">3. Dane Użytkownika otrzymujemy od Ciebie podczas złożenia zamówienia.</p>
                <p class="regulations-text">4. Dane osobowe Użytkowników przetwarzane są przez Administratora w celu:</p>
                <p class="regulations-text">a) wypełnienia obowiązku prawnego Administratora (na podstawie art. 6 ust. 1 lit. c i ust. 3 RODO);</p>
                <p class="regulations-text">b) dochodzenia lub zabezpieczenia roszczeń (na podstawie art. 6 ust. 1 lit. f RODO);</p>
                <p class="regulations-text">c) przechowywanie danych dla celów archiwizacyjnych, oraz zapewnienie rozliczalności (wykazania spełnienia przez nas obowiązków wynikających z przepisów prawa).</p>
                <p class="regulations-text">Dodatkowo, przepisy prawa wymagają od nas przetwarzania Twoich danych dla celów podatkowych i rachunkowych.</p>
                <p class="regulations-text">Zgodę na przetwarzanie danych osobowych, możesz wycofać w dowolnym momencie kontaktując się z Administratorem.</p>
                <p class="regulations-text">5. Podanie danych osobowych przez Użytkownika jest dobrowolne, jednakże niepodanie danych osobowych skutkować brakiem możliwości realizacji umowy zakupu. Uzyskanie możliwości złożenia zamówienia w sklepie DomowyBrowar.pl jest możliwe poprzez wypełnienie formularza zamówienia.</p>
                <p class="regulations-text">6. Wszystkie prawa Użytkownika wynikające z RODO Administrator gwarantuje przestrzegać.</p>
                <p class="regulations-text">Ze swoich uprawnień możesz skorzystać poprzez kontakt z Administratorem. W celu realizacji Twojego żądania, jesteśmy uprawnieni do weryfikacji Twojej tożsamości, aby Twoje dane nie trafiły do nieuprawnionej osoby.</p>
                <p class="regulations-text">Użytkownik ma  prawo wnieść skargę w związku z przetwarzaniem przez nas Twoich danych osobowych do organu nadzorczego, którym jest Generalny Inspektor Ochrony Danych Osobowych (adres: Generalny Inspektor Ochrony Danych Osobowych, ul. Stawki 2, 00-193 Warszawa).</p>
                <p class="regulations-text">7. Dane osobowe Użytkownika udostępniamy firmom z którymi współpracujemy w celu realizacji zamówienia dokonanego przez Użytkownika, w szczególności:</p>
                <p class="regulations-text">* dostawca serwera i platformy sklepowej;</p>
                <p class="regulations-text">* dostawca poczty elektronicznej;</p>
                <p class="regulations-text">8. Twoje dane osobowe przetwarzane w celu zawarcia lub wykonania umowy oraz wypełnienia obowiązku prawnego Administratora będą przechowywane przez okres obowiązywania umowy, a po jego upływie przez okres niezbędny do:</p>
                <p class="regulations-text">a) posprzedażowej obsługi klientów (np. obsługi reklamacji),</p>
                <p class="regulations-text">b) zabezpieczenia lub dochodzenia ewentualnych roszczeń przysługujących Administratorowi,</p>
                <p class="regulations-text">c) wypełnienia obowiązku prawnego Administratora (np. wynikającego z przepisów podatkowych lub rachunkowych),</p>
                <p class="regulations-text">d) wykonania obowiązków wynikających z przepisów prawa, w tym w szczególności podatkowych i rachunkowych,</p>
                <p class="regulations-text">e) zapobiegania nadużyciom i oszustwom,</p>
                <p class="regulations-text">f) statystycznych i archiwizacyjnych.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>