@{
    ViewData["Title"] = "Regulamin";
}
<!--<h1>@ViewData["Title"]</h1>-->

<section class="jumbotron text-center back-color">
    <h2><strong>REGULAMIN SKLEPU INTERNETOWEGO</strong></h2>
    <h3><strong>DomowyBrowar.pl</strong></h3>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 back-color">
      <div class="container back-color">

        <div class="row">
          <div class="col-md-12 regulations-div">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§1</strong></p>
                <p><strong>Postanowienia ogólne</strong></p>
                <p class="regulations-text">1. Sklep internetowy [dalej "Sklep"] prowadzi zamówienia alkoholu przez Właściciela Sklepu za pośrednictwem Internetu, na podstawie niniejszego Regulaminu [dalej "Regulamin"].</p>
                <p class="regulations-text">2. Właścicielem Sklepu jest: Delfina Siepak, adres email: domowybrowar2022@gmail.com</p>
                <p class="regulations-text">3. Ilekroć w dokumencie pojawia się pojęcie Konsument – oznacza ono osobę fizyczną dokonującą czynności prawnej niezwiązanej bezpośrednio z jej działalnością gospodarczą lub zawodową.</p>
                <p class="regulations-text">4. Regulamin jest integralną częścią umowy zawieranej z klientem.</p>
                <p class="regulations-text">5. Warunkiem zawarcia umowy jest akceptacja Regulaminu przez klienta w toku składania zamówienia poprzez złożenia zamówienia, czyli wypełnienie pól w formularzu.</p>
                <p class="regulations-text">6. Ceny podane w Sklepie są cenami brutto (zawierają podatek VAT).</p>
                <p class="regulations-text">7. Towary dostępne w Sklepie są wolne od wad fizycznych i prawnych.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§2</strong></p>
                <p><strong>Zamówienia</strong></p>
                <p class="regulations-text">1. Zamówienia można składać w następujący sposób:</p>
                <p class="regulations-text">a) poprzez formularz dostępny na stronie internetowej Sklepu,</p>
                <p class="regulations-text">b) emailem na adres dostępny na stronie internetowej Sklepu w zakładce Kontakt,</p>
                <p class="regulations-text">c) telefonicznie na numer dostępny na stronie internetowej Sklepu w zakładce Kontakt.</p>
                <p class="regulations-text">2. Warunkiem realizacji zamówienia jest wypełnienie formularza przez klienta. Sklep potwierdza przyjęcie zamówienia emailem lub telefonicznie.</p>
                <p class="regulations-text">3. Informacje znajdujące się na stronie internetowej Sklepu nie stanowią oferty w rozumieniu Kodeksu Cywilnego. Klient składając zamówienie składa ofertę zakupu określonego towaru. Do zawarcia umowy sprzedaży dochodzi z chwilą potwierdzenia przez Sprzedawcę przyjęcia Zamówienia do realizacji, po potwierdzeniu zamówienia drogą emailową lub telefoniczną.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§3</strong></p>
                <p><strong>Płatności</strong></p>
                <p class="regulations-text">1. Klient dokonuje płatności na miejscu, przy odbiorze zamówienia.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§4</strong></p>
                <p><strong>Odbiór zamówienia</strong></p>
                <p class="regulations-text">1. Zamówiony towar Sklep udostępnia do odbioru osobistego przez klienta w siedzibie Właściciela Sklepu.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§5</strong></p>
                <p><strong>Reklamacje</strong></p>
                <p class="regulations-text">1. W przypadku niezgodności towaru z umową Klient powinien zwrócić do Sklepu reklamowany towar wraz z opisem niezgodności.</p>
                <p class="regulations-text">2. Sklep ustosunkowuje się do reklamacji klienta w terminie do maksymalnie 14 dni od momentu otrzymania reklamacji.</p>
                <p class="regulations-text">3. Gdy realizacja uzasadnionej reklamacji wiąże się z wydaniem Klientowi nowego towaru, koszty dostaw ponosi Sklep.</p>
                <p class="regulations-text">4. Sprzedawca zastrzega, że różnice dotyczące zdjęć Towarów, a wynikające z indywidualnych ustawień komputera danego klienta (kolor, proporcje itd.) nie mogą być podstawą do reklamacji towaru.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§6</strong></p>
                <p><strong>Prawo odstąpienia od umowy</strong></p>
                <p class="regulations-text">1. Na podstawie Ustawy o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny z dnia 2 marca 2000 r. klient będący Konsumentem ma prawo odstąpienia od umowy.</p>
                <p class="regulations-text">2. Klient będący Konsumentem może odstąpić od umowy bez podania przyczyny, składając stosowne oświadczenie na piśmie w terminie 14 dni od dnia odebrania. Do zachowania tego terminu wystarczy wysłanie oświadczenia przed jego upływem.</p>
                <p class="regulations-text">3. W razie skutecznego odstąpienia od umowy, umowa jest uważana za niezawartą. klient zobowiązany jest do zwrotu zakupionego towaru, niezwłocznie, nie później niż w terminie 14 (czternaście) dni.</p>
                <p class="regulations-text">4. W terminie 14 dni od odstąpienia przez klienta od umowy Właściciel Sklepu zwraca klientowi zapłaconą kwotę.</p>
                <p class="regulations-text">5. Prawo odstąpienia nie przysługuje klientowi w przypadkach określonych w ustawie, o której mowa w ust. 1 powyżej, a więc w przypadku:</p>
                <p class="regulations-text">a) świadczenia usług rozpoczętego, za zgoda Konsumenta, przed upływem 10 dni od dnia zawarcia umowy;</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§7</strong></p>
                <p><strong>Ochrona prywatności</strong></p>
                <p class="regulations-text">1. Administratorem danych osobowych jest Właściciel Sklepu.</p>
                <p class="regulations-text">2. Dane osobowe przekazane Właścicielowi Sklepu podawane są dobrowolnie, z tym jednak zastrzeżeniem, że niepodanie określonych danych może uniemożliwić złożenie i realizację zamówienia klienta.</p>
                <p class="regulations-text">3. Polityka prywatności firmy jest integralną częścią regulaminu i umowy zawieranej z klientem. Pełna polityka prywatności znajduje się <a asp-area="" asp-controller="Home" asp-action="Privacy">tutaj</a>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§8</strong></p>
                <p><strong>Własność intelektualna</strong></p>
                <p class="regulations-text">1. Zabrania się wykorzystywania jakichkolwiek materiałów publikowanych na stronie internetowej Sklepu (w tym zdjęć i opisów towarów) bez pisemnej zgody Sklepu.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p><strong>§9</strong></p>
                <p><strong>Wejście w życie i zmiany Regulaminu</strong></p>
                <p class="regulations-text">1. Niniejszy Regulamin wchodzi w życie z dniem publikacji na stronie internetowej Sklepu.</p>
                <p class="regulations-text">2. Niniejszy Regulamin może zostać zmieniony, a informacja o zmianach Regulaminu zostanie przesłana klientom na adres email wskazany w zamówieniu na 14 dni przed wejściem w życie zmienionego Regulaminu.</p>
                <p class="regulations-text">3. Dodatkowo zmiany Regulaminu zostaną opublikowane na stronie Sklepu na 14 dni przed wejściem w życie nowego Regulaminu.</p>
                <p class="regulations-text">4. Wszystkie zamówienia przyjęte przez Właściciela Sklepu do realizacji przed dniem zmiany Regulaminu są realizowane na podstawie regulaminu, który obowiązywał w dniu składania zamówienia przez klienta.</p>
                <p class="regulations-text">5. W razie, gdy klient nie akceptuje nowej treści Regulaminu, zobowiązany jest zawiadomić o tym fakcie Właściciela Sklepu w ciągu 14 dni od daty poinformowania o zmianie Regulaminu.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>
