@{
    ViewData["Title"] = "Dziękujemy";
}

<!--<h1>@ViewData["Title"]</h1>-->
<section class="jumbotron text-center back-color">
    <h2><strong>Dziękujemy za zarezerwowanie naszych wyrobów!</strong></h2>
    <h3><strong>Skontaktujemy się z Tobą w celu potwierdzenia zamówienia oraz wstępnego potwierdzenia pełnoletności.</strong></h3>
    <h3><strong>Przy odbiorze zastrzegamy sobie możliwość do sprawdzenia pełnoletności odbierającego klienta.</strong></h3>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main"></main>
  <footer class="mastfoot mt-auto"></footer>
</body>