@{
    ViewData["Title"] = "O nas";
}

<!--<h1>@ViewData["Title"]</h1>-->

<!--
<section class="jumbotron text-center">
    <p>tu będzie strona o nas.</p>
</section>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<style>
body, html {
  height: 100%;
  margin: 0;
}
</style>
</head>
<body>

<div class="bg-about"></div>

</body>
</html>
-->

<section class="jumbotron text-center">
    <h2><strong>O nas</strong></h2>
    <h4><strong>Zapraszamy do zapoznania się ze stroną o nas!</strong></h4>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">

          <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p>in progress...</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>
