@{
    ViewData["Title"] = "Kontakt";
}

<!--<h1>@ViewData["Title"]</h1>-->
<section class="jumbotron text-center">
    <h2><strong>Kontakt</strong></h2>
    <h4><strong>Zapraszamy do zapoznania się z naszą stroną kontaktową.</strong></h4>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p>in progress...</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>