@{
    ViewData["Title"] = "Kontakt";
}

<!--<h1>@ViewData["Title"]</h1>-->
<section class="jumbotron text-center">
    <h2><strong>Kontakt</strong></h2>
    <h4><strong>Zapraszamy do zapoznania się z naszą stroną kontaktową.</strong></h4>
</section>

<head> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="text-center">
  <header class="masthead mb-auto"></header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow regulations-div">
                <p>Aby się z nami skontaktować, możesz skorzystać z poniższych możliwości:</p>
                <p>Pod adresem email: <strong>domowybrowar2022@gmail.com</strong></p>
                <p>Pod numerem telefonu: <strong>*wkrótce*</strong></p>
                <p>Nasz adres:</p>
                <p>ul. Pocztowa 6, 62-090 Rokietnica</p>
                <p>Odbiór osobisty towaru ustalamy indywidualnie.</p>
                <p>Obsługa sklepu potwierdzi przez telefon (SMS) lub e-mail przygotowanie towaru do odbioru.</p>
                <p>Do zobaczenia!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer class="mastfoot mt-auto"></footer>
</body>